html {
	min-height: 400px;
	min-width:1024px;
	width:100%;
	margin:0px auto;
	cursor:default;
	overflow:auto;
	position:relative;
  	background-color:#99D9EA;
	font-family:arial;
	
}


h1 {
	font-size:28px;
  	color:#3F48CC;
  	margin-bottom:65px; 
}

.itemList td, tr, th {
	border:4px solid #3F48CC;
	
}

.itemList{
	border:4px solid #3F48CC;
   border-collapse: collapse;
}